.button {
  background-color: rgb(56, 54, 54);
  color: white;
  padding: 5px 25px 7px 25px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(105, 102, 102);
  transition: all 0.3s ease;
}
.form-hero-component .button {
  display: inline;
  width: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hamburger_menu_links .button {
  width: 100%;
  margin-left: 10px;
}
.posts .button {
  margin-bottom: 50px;
}
.sign-up {
  margin-top: 10px;
  margin-bottom: 15px;
}
