body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.about-background-image {
  background-image: url(./images/pexels-expect-best-323705.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.content_about_page h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 40px;
}
.content_about_page p {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin-left: 20px;
  margin-right: 40px;
}
.posts {
  display: grid;
  grid-template-columns: (5, 1fr);
}
